{block content}
<div class="content">
	<ul n:foreach="$gamesList as $game">
		<li><a n:href="Games:show $game->game_url">{$game->game_title}</a></li>
		<li><strong>{$game->game_description}</strong></li>
		{if $user->isInRole('admin')}
		<a n:href="Games:edit $game->game_url">upravit hru</a>
		{/if}
	</ul>
	{if $user->isInRole('admin')}
	<a n:href="Games:new">vytvořit novou hru</a>
	{/if}
	<br>
	<a n:href="Games:default">zpět</a>
</div>
{/block}