{{block content}
<div class="content">
    <p>{$game->game_title}</p>
    <p class="text">{$game->game_content}</p>
    <br>
    <div class="line"></div>
    <strong>{$game->game_description}</strong>
    <a class="zpet" n:href="Games:list $game->category_url">zpět</a>
</div>

{/block}}