{{block content}
<div class="content">
    <div class="container">
        <h1>{$game->game_title}</h1>
        <p class="text">{$game->game_text}</p>
        <div class="line"></div>
        <strong>{$game->game_description}</strong>
    </div>

	{if $urlType == null}
		<a class="zpet" n:href="Games:default">zpět</a>
        {else}
        <a class="zpet" n:href="Games:list $game->category_id">zpět</a>
        {/if}

</div>

{/block}}