#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	contactEmail: 'jan.kostik5@gmail.com'

forms:
	messages:
		REQUIRED: 'Povinné pole.'
		EMAIL: 'Neplatná emailová adresa.'

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=127.0.0.1;dbname=offline_zabava'
	user: root
	password: Bl10_10Ji
	options:
		lazy: yes


services:
	- App\Model\UserFacade
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	- App\Router\RouterFactory::createRouter
	- App\Model\DatabaseFunctions
	- App\Presenters\ContactPresenter(%contactEmail%)
	- App\Model\Data\GameFormFactory
	- App\Model\Data\FormFactory