{block title}Administrace webu{/block}
{block description}Administrace webu.{/block}
{block content}
<p>Vítejte v administraci! Jste přihlášeni jako <b>{$username}</b>.</p>
<p n:if="!$user->isInRole('admin')">Nemáte administrátorská oprávnění, požádejte administrátora webu, aby vám je přidělil.</p>
<li><a n:href=:Games:new>přidat novou hru</a></li>
<li><a n:href=:Administration:newC>přidat novou kategorii</a></li>
<h2><a n:href=logout>Odhlásit</a></h2>