{block title}Přihlášení{/block}
{block description}Přihlášení do uživatelského účtu.{/block}
{block content}
{* Formulář pro přihlášování. *}
<div class="content">
    <div class="container">
        <h1>Přihlášení:</h1>
        {control loginForm}
        <p>Pokud ještě nemáte účet, <a n:href=register>zaregistrujte se</a>.</p>
    </div>  
</div>