{block content}
<div class="content">
    {* Formulář pro editaci. *}
    <strong>Jste si jistí jestli je nutné vytvořit kategorii a nezařadit hru do jiné kategorie?<br>
    Ještě není hotová funkce na mazání kategorií, která kategorii vymaže a zároveň zachová hry.</strong>
    <h1>Vytvoření nové kategorie:</h1>
    {control categoryForm}
</div>
{/block}