{block title}Registrace{/block}
{block description}Registrace nového uživatelského účtu.{/block}
{block content}
{* Formulář pro registraci. *}
<div class="content">
<h2>Registrace:</h2>
    {control registerForm}
</div>