@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
	height: auto;
}

.navbar {
	width: 100%;
	background-color: rgb(103, 175, 77);
	padding: 10px 0;
	font-family: "Quicksand", sans-serif;
	z-index: 999;
}

.max-width{
  max-width: 1300px;
  height: 60px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  height: auto;
}

.logo a {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 20px;
	color: #fff;
}


  
  .logo a img {
	padding-right: 5px;
}

.menu {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 20px;
	margin: 0;
}

li {
	list-style: none;
	margin: 0 30px;
}

li a{
	color: white;
	text-decoration: none;
}
  

a[href^="#error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}


/* Dropdown Button */
.dropbtn {
	color: white;
	font-size: 20px;
	border: none;
	background: none;
	margin: 0 20px;
  }

  /* The container <div> - needed to position the dropdown content */


  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 200px;
	width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }

  /* Links inside the dropdown */
.dropdown-content a {
	color: black;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	white-space: nowrap;
  }

.dropdown-content li {
	padding: 5px;
	display: flex;
	align-items: center;
}

.dropdown-content .editC {
	margin:  0 10px;
	font-size: 15px;
	font-weight: 200;
	white-space: nowrap;
}
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {color: rgb(103, 175, 77);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: flex;
flex-direction: column;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: lightgray;}

li a:hover {
	text-decoration: none;
	color: lightgray;
}

.content{
	display: flex;
	flex-direction: column;
	color: black;
	margin: auto;
	height: 80vh;
}


.list{
	color: black;
	font-size: 30px;
	font-weight: 300;
	
}

.list:hover {
	color: rgb(103, 175, 77);
}

ul{
	margin: 40px;

}

.line {
	padding: 1.5px 300px;
	background-color: rgb(103, 175, 77);
}


.content ul li {
	margin: 0 5px;
}